<div class="product-grid">
    <mat-card *ngFor="let product of products" class="product-card">
        <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}"
            fallbackSrc="images/sampleimage.jpg">
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-content>{{ product.description }}</mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="primary" [routerLink]="['/product', product.id]">View Details</a>
        </mat-card-actions>
    </mat-card>
</div>